<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>


    {{>navbar}}
    <div class="container-fluid main_header">
        <div class=" row ">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/mauryaTech2.jpg" alt="maurya" class="img-fluid" title="MauryaTech">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Welcome to Weather App</p>
                        <h1>I am <span> Full Stack Developer </span> and NITian😅</h1>
                        <a href="https://www.linkedin.com/in/chandrajeetmaurya/"class=" fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" ><button>
                              <span class="aboutMe">About Me</span> 
                            </button></a>
                    </div>

                </div>

            </div>
        </div>

    </div>
 {{>footer}}
</body>

</html>